In [3]:
import sqlite3
import pandas as pd

def print_table(query, p=False):
    conn = sqlite3.connect('data/ratingRager.db')
    cursor = conn.cursor()
    cursor.execute(query)

    column_names = [description[0] for description in cursor.description]

    rows = cursor.fetchall()

    column_widths = [max(len(str(row[i])) for row in rows + [column_names]) for i in range(len(column_names))]

    header = "  ".join(f"{name:<{column_widths[i]}}" for i, name in enumerate(column_names))
    if p:
        print('\n',header)
        print("-" * len(header))

        for row in rows:
            row_str = "  ".join(f"{str(item):<{column_widths[i]}}" for i, item in enumerate(row))
            print(row_str)
        print('\n')

    return pd.read_sql_query(query, conn)

In [9]:
QUERY = """SELECT * FROM restaurants as r
JOIN scores as s ON r.id=s.restaurant_id
ORDER BY s.overall_score DESC
"""

df = print_table(QUERY)

In [10]:
df.to_json("results.json", orient="records", indent=4)